.inputContainer {
  position: relative;
  width: 100%;

  & label {
    position: absolute;
    bottom: 2px;
    color: var(--chapter-color);
    left: 7px;
  }

  & input {
    border: none;
    outline: none;
    background-color: var(--input-back);
    color: var(--input-text);
    border-radius: 24px;
    font-weight: 500;
    width: 100%;
    padding: 8px;

    padding-right: 16px;

    &::placeholder {
      color: var(--input-placeholder);
      text-transform: uppercase;
    }
  }

  & p {
    color: var(--text-color);
    position: absolute;
    top: -20px;
    margin: 0;
    text-transform: uppercase;
  }
}

.withIcon {
  padding-left: 34px !important;
}
