.my-cars {
  &__title {
    color: #787878;
    font-size: 12px;
    font-weight: 300;
    letter-spacing: 15%;
  }

  &__no {
    color: var(--text-color);
    text-transform: uppercase;
  }
}

.swiper-pagination {
  top: 0 !important;
  bottom: auto !important;
  color: var(--text-color) !important;
}

.swiper-button-prev,
.swiper-button-next {
  background-color: transparent;
  width: 32px !important;
  height: 32px !important;
  color: var(--text-color) !important;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.swiper-button-prev::after {
  font-size: 22px;
}
