.profile-link {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  color: var(--text-color);

  &__descr {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &__link {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  &__chapter {
    font-size: 20px;
    text-transform: uppercase;
    color: var(--text-color);
    letter-spacing: 5px;
  }

  &__username {
    font-size: 18px;
    color: var(--text-color);
    font-weight: 500;
    padding: 0 8px;
  }
}
