.loading-screen {
  height: 100vh;
  //   background-color: #131313;
  background-color: rgba(52, 52, 52, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  z-index: 220;
  gap: 8px;
  width: 100vw;
  left: 0;
  right: 0;

  &__block {
    background-color: var(--background-color);
    padding: 16px;
    border-radius: 12px;
    font-size: 20px;
  }
}
