.my-car-item {
  display: flex;
  flex-direction: column;
  padding-top: 25px;

  &__image {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;

    & img {
      width: 310px;
      height: 160px;
    }
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--text-color);
  }

  &__action {
    cursor: pointer;
  }

  &__content {
    display: flex;
    gap: 16px;
    align-items: center;
    color: var(--chapter-color);
    font-size: 16px;
    font-weight: 300;

    & div {
      display: flex;
      align-items: flex-start;
      gap: 5px;
    }
  }
}
