.wrapper {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background-color: var(--btn-filled-back);
  color: var(--background-color);
  padding: 8px 12px;
  border-radius: 20px;
  white-space: nowrap;
  font-size: 14px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease, transform 0.2s ease;
  z-index: 250;
}

.wrapper:hover .tooltip {
  opacity: 1;
  visibility: visible;
  transform: translateX(-50%) translateY(-110%);
}
