.main-page {
  height: 100vh;

  &__bottom {
    width: 100%;
    max-width: 768px;
  }

  &__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 35px;
  }

  &__theme {
    width: 100%;
    justify-content: flex-end;
    display: flex;

    &--container {
      width: 100px;
    }
  }
}
