.container {
  display: flex;
  gap: 12px;

  height: 295px;
  border-radius: 8px;
  justify-content: center;

  width: 100%;
}

.dateSection,
.timeSection {
  display: flex;
  flex-direction: column;
}

.timeSection {
  height: 100%;
  background-color: var(--calendar-back);
  color: var(--calendar-text);
  border-radius: 20px;
  padding: 8px 4px;
}

// label {
//   margin-bottom: 8px;
//   font-weight: bold;
//   font-size: 14px;
// }

.dateInput {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px;
}

.timeList {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

.timeItem {
  padding: 6px;
  cursor: pointer;
  transition: background 0.2s;
  border-radius: 4px;

  &.active {
    background-color: var(--calendar-active) !important;

    color: #fff;
  }

  @media (hover: hover) {
    &:hover {
      background-color: var(--calendar-hover);
    }
  }
}
